aiodns==2.0.0
aiosmtpd==1.2
asgiref==3.2.3
atpublic==1.0
attrs==19.3.0
autopep8==1.5
CacheControl==0.12.6
cachy==0.3.0
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
cleo==0.7.6
clikit==0.4.2
colorama==0.4.3
crayons==0.3.0
cryptography==3.2
django>=3.0.7
django-database-files==0.1
dnspython==1.16.0
enum34==1.1.10
filesplit==2.0.0
idna==2.9
image==1.5.28
Jinja2==2.11.1
keyrings.alt==3.4.0
Markdown==3.2.1
MarkupSafe==1.1.1
msgpack==1.0.0
mysql==0.0.2
mysqlclient==1.4.6
numpy==1.18.2
pandas==1.0.3
pastel==0.2.0
pexpect==4.8.0
piexif==1.1.3
Pillow<=7.1.0
ptyprocess==0.6.0
pycares==3.1.1
pycodestyle==2.5.0
pycparser==2.20
pycryptodome==3.9.6
pylev==1.3.0
pyparsing==2.4.6
pyrsistent==0.14.11
python-dateutil==2.8.1
python-decouple==3.3
python-utils==2.4.0
pytz==2019.3
pywin32-ctypes==0.2.0
PyYAML==5.3.1
regex==2020.2.20
requests==2.23.0
requests-toolbelt==0.8.0
six==1.14.0
SplitMerge==0.0.2.post3
sqlparse==0.3.1
stegano==0.9.8
urllib3==1.25.8
utils==1.0.1
