{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Secry</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
	<link href='https://fonts.googleapis.com/css?family=Quantico' rel='stylesheet'>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="icon" href="{% static 'images/logot-25.png' %}" type="image/x-icon">
</head>

<body>
<div class="container mt-5">
	<div class="row justify-content-center">
		<div class="col-8">
			<h1 class="text-center" style="font-size: 48px;font-family: Quantico;color: #0FA7D5; font-weight: 400;">SECRY</h1>
		    <h4 class="text-center text-secondary mt-3">Reset Password</h4>
		    <hr/>
		    <form method="POST" class="register-form needs-validation" id="login-form" action="{% url 'changepassword' %}">
            {% csrf_token %}
		        <div class="form-group">
		            <label><i class="zmdi zmdi-lock"></i> Change Password</label>
		            <input type="password" name="password1" id="pass" class="form-control" pattern=".{8,}" title="Atleast eight or more characters" required />
                    <div class="invalid-tooltip">Please enter a valid password.</div>
		        </div>
		        <div class="form-group">
		            <label><i class="zmdi zmdi-lock"></i> Confirm Password</label>
		            <input type="password" name="password2" id="re_pass" class="form-control" required/>
                    <div class="invalid-tooltip">Please enter a valid password.</div>
					<input type="hidden" name="email"  value="{{email}}">
		        </div>
				<div class="form-group">
		        <button type="submit" class="btn btn-primary btn-block center-block">Submit</button>
				</div>
		    </form>
		</div>
	</div>
</div>                        
<script src="{% static '/js/valid.js' %}"></script>
</body>
</html>