{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <script type="text/javascript">
        $(window).load(function () {
            $(".loader").fadeOut("slow");
        });
    </script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Secry-Sign In</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Font Icon -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/style_login.css' %}">
    <link rel="icon" href="{% static 'images/logot-25.png' %}" type="image/x-icon">

</head>

<body>
    <!-- Page Loader -->
    <div class="loader"></div>

    <div class="main">
        <!-- Sign in  Form -->
        <section class="sign-in">
            <div class="container mt-5">
                <div class="signin-content">
                    <div class="signin-image d-sm-none d-md-block">
                        <figure><img src="{% static 'images/logo-1000.jpg' %}" alt="sign up image"></figure>
                        <a href="{% url 'register' %}" class="signup-image-link">Create an account</a>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Sign In</h2>
                        <form method="POST" class="register-form was-validated needs-validation" id="login-form" action='{% url 'signin' %}'>
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="username"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="username" id="your_name" placeholder="Your Name" required />
                            </div>
                            <div class="form-group">
                                <label for="password"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="password" id="your_pass" placeholder="Password" required/>
                            </div>
                            <a class="btn btn-link text-decoration-none text-left px-0 mx-0" data-toggle="modal"
                                data-target="#forgot-password"><small>Forgot Password</small></a>
                            <div class="form-group form-button">
                                <button type="submit" name="signin" id="signin" class="btn btn-primary form-submit">Log in</button>
                            </div>
                            {% for message in messages %}
                            <span class="text-{% if message.tags == 'error' %}danger{% else %}{{message.tags}}{% endif %} text-center mt-1" id="myDiv" style="position:absolute;margin-bottom:0px;"><strong>
                                    {{message}}</strong></span>
                            {% endfor %}
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Modal -->
        <div class="modal fade" id="forgot-password" tabindex="-1" role="dialog" aria-labelledby="forgot-passwordLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="forgot-passwordLabel">Change Password</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="POST"  id="login-form" action="{% url 'change' %}">
                        <div class="modal-body">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="email" id="email" placeholder="Email" required />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-secondary" data-dismiss="modal">Cancel</a>
                            <button type="submit" class="btn btn-primary">Reset Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- FOOTER -->
    <footer class="text-muted footer mt-5">
        <div class="container-sm text-center">
            <p class="p-0 m-0">&copy; Secry - 2020</p>
        </div>
    </footer>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <script src="{% static '/js/valid.js' %}"></script>
    <script src="{% static '/js/main.js' %}"></script>
</body>
</html>