{% extends 'base.html' %}
{% block content %}

<!-- The sidebar -->
<div class="row navbar-collapse">
    <div class="col-md-2 d-none d-md-block sidebar bg-light">
        <a class="nav-link" href="{% url 'dash' %}">
            <span data-feather="home"></span>
            Dashboard <span class="sr-only">(current)</span>
        </a>
        <a class="nav-link active" href="{% url 'view' %}">
            <span data-feather="file"></span>
            Files
        </a>
        <a class="nav-link" href="{% url 'upload' %}">
            <span data-feather="upload-cloud"></span>
            Upload
        </a>
        <a class="nav-link" href="{% url 'download' %}">
            <span data-feather="download-cloud"></span>
            Download
        </a>
        <a class="nav-link" href="{% url 'settings' %}">
            <span data-feather="settings"></span>
            Settings
        </a>
        <a class="nav-link" href="{% url 'account' %}">
            <span data-feather="user"></span>
            Account
        </a>
    </div>
</div>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 mt-5">
    <div class="body mt-5">
        <div class="table-responsive container-fluid mt-5">
            {% if files %}
            <table class="table table-info  table-hover table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>File Name</th>
                        <th>Size(MB)</th>
                        <th>Action</th>
                    </tr>
                </thead>
                {% for file in files %}
                <tbody>
                    <tr>
                        <td>{{file.file_id}}</td>
                        <td>{{file.file_name}}</td>
                        <td>{{file.file_size}}</td>
                        <td> 
                            <form method="POST" class="inline-group" enctype="multipart/form-data" action="{% url 'generate' %}" onsubmit="$('#cover-spin').show(0)">
                                {% csrf_token %}
                                <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#exampleModal" title="Delete file"><i class="fa fa-trash"></i> Delete</button>
                                <input type="hidden" name="fileid" id="fileid" value="">
                                <button type="submit" class="btn btn-warning btn-sm" title="Generate the key file."><i class="fa fa-key"></i> Key</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
            {% else %}
            <div class="text-center container">
                <p class="display-4 text-info font-weight-bold">No files to display.Please click below button to upload.</p>
                <a class="btn btn-info btn-lg" href="{% url 'upload' %}"><i class="fa fa-upload"></i> Upload</a>
            </div>
            {% endif %}
            {% if messages %}
            {% for message in messages %}
                <div class="text-center container">
                    <span class="text-{% if message.tags == 'error' %}danger{% else %}{{message.tags}}{% endif %} text-center mt-1" id="myDiv"><strong>{{message}}</strong></span>
                </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</main>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete File</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Do you really want to delete the file.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal1" data-dismiss="modal">Yes</button>
        <button type="button" class="btn btn-success" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center upload-form bg-dark">
                <form method="POST" enctype="multipart/form-data" action="{% url 'delete_file' %}" onsubmit="$('#cover-spin').show(0)">
                    {% csrf_token %}
                    <input type="file" name="keyfile" accept="image/*" required>
                    <input type="hidden" name="fileid" id="fileid" value="">
                    <input type="hidden" name="filename" id="filename" value="">
                    <p>Drag and drop the key file or Click here to upload the key file.</p>
                    <button type="submit" class="btn btn-danger btn-block" id="submit"><i class="fa fa-trash"></i> Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}